<header>
    <div class="container">
        <div class="logo">Satellite Images 21&copy;</div>
        <div class="input-search-wrap">
            <div class="input-search">
                <input type="text" placeholder="Find localization" [formControl]="localizationControl"
                    [matAutocomplete]="auto" (keyup)="handleSearch()">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getSelected($event.option.value)'
                    [displayWith]="displayFn">
                    <mat-option *ngFor="let localization of filteredLocalizations" [value]="localization">
                        {{localization.display_name}}
                    </mat-option>
                </mat-autocomplete>
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
    </div>
</header>