header {
    .container{
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 20px;
        .logo {
            align-self: flex-start; 
            color: #222;
            font-size: 26px;
            letter-spacing: 1px;
        }
        .input-search-wrap {
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            .input-search {
                border: 1px solid gray;
                border-radius: 8px;
                padding: 6px 16px;
                background-color: rgba(255,255,255, 0.9);
                span {
                    display: inline-flex;
                    vertical-align:middle;
                }
                input {
                    border: none;
                    width: 400px;
                    outline: none;
                    background-color: transparent;
                }
            }
        }
    }
}
@media (max-width: 1248px) {
    header {
        .container{
            height: 60px;
            .logo {
                display: none;
            } 
            .input-search-wrap {
                width: 350px;
                .input-search {
                    input {
                        width: 290px;
                    }
                }
            }
        }
    }
}

