main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fefefe;
    .image-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 700px;
        width: 490px;
        background-color: #fff;
        border-radius: 12px;
        border: 1px solid gray;
        .photo {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 70%;
            border-radius: 12px 12px 0 0;
        }
        .description {
            padding: 30px 20px;
            h2 {
                font-size: 20px;
                margin-bottom: 20px;
            }
            p {
                margin: 12px 0;
            }
        }
        .loader-wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            .loader {
                background-image: url('../assets/images/loading.svg');
                width: 100%;
                height: 100%;
                animation: spin 2s linear infinite;
            }
        }

    }
    .map {
        position: absolute;
        bottom: 10%;
        right: 5%;
        height: 200px;
        width: 300px;
        padding: 0;
        border: 1px solid gray;
      }
}

@media (max-width: 1248px) {
    main{
    .image-wrap {
        top: 40%;
        height: 500px;
        width: 350px;
        .description {
            padding: 14px 10px;
            h2 {
                font-size: 18px;
                margin-bottom: 14px;
            }
            p {
                margin: 8px 0;
            }
        }
    }
    .map {
        position: absolute;
        right: 50%;
        transform: translate(50%);
        width: 350px;
      }
    }
}

@media (max-width: 480px) {
    main {
        .map {
            right: 0;
            bottom: 0;
            width: 100vw;
            transform: translate(0);
          }
    }
}

@keyframes spin {
    from {
         transform: rotate(0deg);
    }
    to {
         transform: rotate(360deg);
    }
}